<header id="header">
    <a href="#" class="logo">
        <img src="https://tix.vn/app/assets/img/icons/web-logo.png" alt="">
    </a>
    <nav class="header__menu">
        <ul>
            <li>
                <a href="#">Lịch chiếu</a>
            </li>
            <li>
                <a href="#">Cụm rạp</a>
            </li>
            <li>
                <a href="#">Tin tức</a>
            </li>
            <li>
                <a href="#">Ứng dụng</a>
            </li>
        </ul>
    </nav>
    <div class="d-flex align-items-center">
      <a href="#" class="signin"  routerLink="/signin">
        <img class="img-signin mr-2" src="https://tix.vn/app/assets/img/avatar.png" width="30px" alt="">
        <span >Đăng nhập</span>
      </a>
    </div>  
</header>